<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

LIST

<table>

    <tr th:each="employee: ${listEmployees}">
        <td th:text="${employee.getId()}"></td>
        <td th:text="${employee.getFirstName()}"></td>
        <td th:text="${employee.getLastName()}"></td>
        <td th:text="${employee.getEmail()}"></td>
    </tr>

</table>

<script src="/js/main.js"></script>
</body>
</html>